<div id="header" class="div--float_left">
  <div id="header__menu" class="sidebarButton image--style_square">
    <%= image_tag("menu.png") %>
  </div>
  <h1 id="header__title" class="sidebarButton">Hoge Magazine</h1>
</div>

<div class="content">
  <%= image_tag("index2_image1.jpg", :class => "firstImage") %>
  <p>
    さぁ、はじめましょう。<br>
    プログラマーという大きな旅への一歩目です。
  </p>
  <h2>Story1 プログラマー</h2>
  <p>
    さっそくですが、あなたは今どうやってこのページを見ていますか？<br>
    パソコンやスマホを起動して、ほんの数回、クリックやタッチをするだけで、インターネット上のWebページを見ることができています。<br>
    この素晴らしい体験もプログラマーのおかげで実現できています。プログラマーは人々を幸せにできます。そして、このページを読んで、一歩踏み出したあなたも、もうプログラマーの一人なのです。
  </p>
  <%= image_tag("jobs.jpg") %>
</div>


<div class="floatingActionButton--role_addStudent">
  <div class="ripple-wrap">
    <span class="ripple__effect is-white"></span>
    <div>
      <%= image_tag("add.png", :alt => "add_button", :size => "24x24", :class => "ripple") %>
    </div>
  </div>
</div>

<div id="footer" class="div--float_left">
  <div id="footer__prevBtn" class="sidebarButton image--style_square">
    <a href="/hello_world/index"><%= image_tag("left_arrow.png") %></a>
  </div>
  <div id="footer__nextBtn" class="sidebarButton image--style_square">
    <a href="/hello_world/index3"><%= image_tag("right_arrow.png") %></a>
  </div>
</div>
