<div id="header" class="div--float_left">
  <div id="header__menu" class="sidebarButton image--style_square">
    <%= image_tag("menu.png") %>
  </div>
  <h1 id="header__title" class="sidebarButton">Hoge Magazine</h1>
</div>

<div class="content">
  <%= image_tag("openyoursite.png", :class => "firstImage") %>
  <h2>Story4 世界に発信</h2>
</div>


<div class="floatingActionButton--role_addStudent">
  <div class="ripple-wrap">
    <span class="ripple__effect is-white"></span>
    <div>
      <%= image_tag("add.png", :alt => "add_button", :size => "24x24", :class => "ripple") %>
    </div>
  </div>
</div>

<div id="footer" class="div--float_left">
  <div id="footer__prevBtn" class="sidebarButton image--style_square">
    <a href="/hello_world/index4"><%= image_tag("left_arrow.png") %></a>
  </div>
  <div id="footer__nextBtn" class="sidebarButton image--style_square">
    <%= image_tag("right_arrow.png") %>
  </div>
</div>
