<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="hoge magazine">
  <meta name="keywords" content="プログラミング, 入門, はじめて">
  <meta name="description" content="中学生でも始められるプログラミング。何度も挫折した人や、パソコンが苦手な人でもプログラムが理解できるようになるためのサイトです。">
  <title>HogeMagazine</title>
  <meta name="viewport" content="width=320,initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="item--float_left clearfix">
    <div id="header__menu" class="sidebar-button image--style_square">
      <%= image_tag("menu.png") %>
    </div>
    <h1 id="header__title" class="sidebar-button">Hoge Magazine</h1>
  </header>

<%= yield %>

  <footer class="item--float_left clearfix">
    <% if @prevLink.present? then %>
      <div id="footer__prev-btn" class="image--style_square">
        <a href="/hello_world/<%= @prevLink %>"><%= image_tag("left_arrow.png") %></a>
      </div>
    <% end %>
    <% if @nextLink.present? then %>
      <div id="footer__next-btn" class="image--style_square">
        <a href="/hello_world/<%= @nextLink %>"><%= image_tag("right_arrow.png") %></a>
      </div>
    <% end %>
  </footer>

</body>
</html>
