<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="hoge magazine">
  <meta name="keywords" content="プログラミング, 入門, はじめて">
  <meta name="description" content="中学生でも始められるプログラミング。何度も挫折した人や、パソコンが苦手な人でもプログラムが理解できるようになるためのサイトです。">
  <title>HogeMagazine</title>
  <meta name="viewport" content="width=320,initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header" class="item--float_left">
    <div id="header__menu" class="sidebar-button image--style_square">
      <%= image_tag("menu.png") %>
    </div>
    <h1 id="header__title" class="sidebar-button">Hoge Magazine</h1>
  </div>

  <div class="floating-action-button--role_addStudent">
    <div class="ripple-wrap">
      <span class="ripple__effect is-white"></span>
      <div>
        <%= image_tag("add.png", :alt => "add_button", :size => "24x24", :class => "ripple") %>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
